target/
.mvn/wrapper/maven-wrapper.jar
**/*.class
**/*.log
hs_err_pid*.log

.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath

dependency-reduced-pom.xml

.env
.env.*
!.env.example
